html {
  height: 100%;
  margin: 0;
}
body {
  display: table; 
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  font-family: 'Fira Sans';
  font-size: 1em;
}

#appHeader {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EAEAE7;
  font-size: 1em;
}
#appHeaderTable {
  display: table;
  width: 100%;
  font-size: 1em;
}
#appHeaderRow {
  display: table-row;
  width: 100%;
  font-size: 1em;
}
#appNameCell {
  display: table-cell;
  text-align: center;
  font-size: 1em;
}
#appMenuCell {
  display: table-cell;
  text-align: right;
  font-size: 1em;
  width: 3.2em;
  height: 1em;
  background-size: 45% 45%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/style/images/back.png");
}
#appMenuCell:active {
  background-color: #C7C7C7;
}

#fragContent {
  font-family: 'Fira Sans';
  font-size: 1rem;
}
#fragHeaderTable {
  display: table;
  width: 100%;
  font-size: 1em;
}
#fragHeaderRow {
  display: table-row;
  width: 100%;
  background-color: #5F5F5F;
  vertical-align: middle;
  font-size: 1em;
}
#fragHeaderCell {
  display: table-cell;
  text-align: left;
  font-size: 1em;
}

#payPalButton {
  padding: .1em;
  height: 1.1em;
  font-size: 2em;
  color: #333333;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  background-size: 45% 85%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/style/images/paypal.png");
}
#payPalButton:active {
  color: #F4F4F4;
  background-color: #EAEAE7;
}

.menuItem {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C7C7C7;
  font-size: 1em;
}
p.item {
  color: #333333;
  font-size: 1.1em;
}
p.description {
  color: #858585;
  font-size: .9em;
  text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
  padding-top: .6em;
  padding-bottom: .5em;
  color:#858585;
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
}
h2 {
  margin:0px;
  padding:0px;
  padding-top: .6em;
  padding-bottom: .5em;
  padding-left: 2em;
  color: #F4F4F4;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}